@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0B4D0A;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.8vh;
  z-index: 1000;
}

.navbar a {
  font-family: DM Sans;
  color: #ffffff;
  text-decoration: none;
  padding: 14px 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
}

.navbar-right a {
  color: #3f3e3e;
}

.navbar-left a:hover,
.navbar-right a:hover {
  color: #4ed80e;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAninha */
.main {
  display: flex;
  flex-direction: row;
}

.mapGps iframe {
  width: 100%;
  height: 100%;
  position: relative;

}

.mapGps {
  width: 30vw;
  height: 84.6vh;
  margin-top: 77px;
  position: absolute;
  left: 0;
}

.card_space {
  background-color: #f4f4f4;
  position: absolute;
  width: 50vw;
  height: 70vh;
  top: 15%;
  margin-left:  37vw;
  border-radius: 12px;

}

.card-img-top {
  width: 45vw;
  height: 40vh;
  border-radius: 10px;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
}

.card-body {
  width: 851px;
  height: 69px;
  gap: 6px;
  padding: 20px;
  margin-left: 20px;
}

.card-title {
  font-family: Urbanist;
  font-size: 150%;
  text-align: left;

}

.card-text {
  width: 40vw;
  height: 5vh;
  font-family: Urbanist;
  font-size: 90%;
  text-align: left;
  color: #666;
}

.icon-materiais {
  width: 6vw;
  height: 4vh;
  padding: 8px 14px 8px 14px;
  border-radius: 28px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-materiais text {
  font-family: 'Urbanist';
  font-style: normal;
  font-size: 90%;
  margin: 0;
  color: #FFF;
}

.icon-materiais img {
  width: 1.5vw;
  height: 2.5vh;
}

#botao {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32vw;
  height: 5vh;
  border: 0px;
  border-radius: 10px;
  margin-left: 14vw;
  background-color: #16B713;
}

.rodape {
  position: absolute;
  width: 50vw;
  height: 7vh;
  top: 90%;
  margin-left: 37vw;
  padding: 20px 0px 0px 0px;
  border-top: 1px solid #262626;
  font-family: Urbanist;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.botao-rodape {
  display: flex;
  width: 5vw;
  height: 5vh;
}
