@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: url('imgs/imgArvores.png') no-repeat center center/cover;
    position: relative;
    background-size: cover;
    min-height: 100vh;
}

.article{
    background: linear-gradient(white,#ebebeb, white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #233b1dcc;
    color: white;
    z-index: 1000;
}

.imgLogo{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    position: relative;
}

nav .logo {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
}

nav .nav-links {
    list-style: none;
    display: flex;
    font-family: 'Poppins';
}

nav .nav-links li {
    margin-right: 60px;
}

nav .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav .nav-links a:hover{
    text-decoration: underline;
    color: #4CAF50;
}

nav .contato {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Poppins';
}

nav .contato a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

nav .contato span {
    font-size: 14px;
    opacity: 0.8;
}

.interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: #fff;
    font-family: 'Poppins';
}

.interface h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.interface .bemVindo {
    color: #4CAF50;
}

.interface p {
    margin: 20px 0;
    font-size: 20px;
}

.titulo{
    margin-bottom: 4500px;

}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.botoes .btn-cadastrar, .btn-entrar {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.botoes .btn-cadastrar {
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
}

.botoes .btn-entrar {
    background-color: #ffffff;
    color: #4CAF50;
    border-radius: 45px;
}

.img_arvores{
    width: 100%;
    height: 100%;
}

.p1, .p2, .p4, .p5 {
    color: black;
    text-align: justify; /* Centraliza o texto */
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 45px;
    margin-top: 80px;

    /* Ajustando largura e centralização */
    max-width: 1067px; /* Definindo uma largura máxima */
    margin-left: auto; /* Centraliza o bloco horizontalmente */
    margin-right: auto; /* Centraliza o bloco horizontalmente */
}

.p3{
    color: black;
    text-align: center; /* Centraliza o texto */
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 45px;
    margin-top: 80px;
    /* Ajustando largura e centralização */
    max-width: 1067px; /* Definindo uma largura máxima */
    margin-left: auto; /* Centraliza o bloco horizontalmente */
    margin-right: auto; 
}


.verde {
    color: #4CAF50;
}

.laranja {
    color: #e76800;
}

.text1, .text2, .text3, .text4 {
    color: black;
    text-align: justify; /* Centraliza o texto */
    font-size: 25px;
    font-family: 'Poppins';

    /* Ajustando largura e centralização */
    max-width: 1067px; /* Definindo uma largura máxima */
    margin-left: auto; /* Centraliza o bloco horizontalmente */
    margin-right: auto;
}

input[type="text"] {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div_cards {
    text-align: center;
}

div button {
    background-color: #f4f4f4;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

div button:hover {
    background-color: #4CAF50;
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    margin-left: 80px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
}

.card p {
    padding: 20px;
    margin: 0;
    color: #000000;
}

.card h3 {
    font-size: 20px;
    padding: 10px;
    margin: 0;
    color: #000000;
}

.vejaMais {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 97%;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
}

.card button:hover {
    background-color: #4CAF50;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination a {
    color: #4CAF50;
    padding: 10px 15px;
    margin: 0 5px;
    text-decoration: none;
    border: 1px solid #4CAF50;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: white;
}

.pagination .veja-mais {
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
    border-radius: 0;
    border: none;
    margin-left: 20px;
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
    .interface h1 {
        font-size: 36px;
    }

    .interface p {
        font-size: 18px;
    }

    .card {
        width: 45%; /* Ajuste o tamanho dos cartões para caber melhor em telas médias */
    }

    .text1, .text2, .text3, .text4 {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 768px) {
    .interface h1 {
        font-size: 28px;
    }

    .interface p {
        font-size: 16px;
    }

    nav .nav-links li {
        margin-right: 30px;
    }

    .card {
        width: 90%; /* Os cartões ocupam quase toda a largura da tela em dispositivos menores */
    }

    .text1, .text2, .text3, .text4{
        padding-left: 50px;
        padding-right: 50px;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
    }

    input[type="text"] {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .interface h1 {
        font-size: 22px;
    }

    .interface p {
        font-size: 14px;
    }

    .card {
        width: 100%;
    }

    .text1, .text2, .text3, .text4 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .p1, .p2, .p3, .p4, .p5 {
        font-size: 24px;
    }

    input[type="text"] {
        width: 100%;
    }

    .botoes {
        flex-direction: column;
        width: 100%;
    }
}

.imgmapa{
    width: 80%;
    height: 80%;
    margin: 20px;
    margin-left: 150px;
    border-radius: 10px;
}

.imgchat{
    width: 80%;
    height: 80%;
    margin: 20px;
    margin-left: 150px;
    border-radius: 10px;
}

.ctt_footer{
    margin-left: 225px;
}

.div_footer{
    position: absolute;
    width: 100%;
    height: 309px;
    background-color: #005622;
    margin-top: 100px;
    font-family: 'Poppins';
}

.sobre{
    margin-left: 225px;
    margin-top: 80px;
    font-weight: bold;
}

.parc{
    margin-left: 225px;
    margin-top: 20px;
}

.st{
    margin-left: 225px;
    margin-top: 20px;
}

.tc{
    margin-left: 500px;
    margin-top: -160px;
    font-weight: bold;
}

.rp{
    margin-left: 500px;
    margin-top: 20px;
}

.pol{
    margin-left: 500px;
    margin-top: 20px;
}

.ol{
    margin-left: 1200px;
    margin-top: -180px;
    font-weight: bold;
}

.end{
    margin-left: 970px ;
    margin-top: 30px;
}

.cdd{
    margin-left: 1230px ;
}

.CEP{
    margin-left: 1205px ;
}

.escola{
    margin-left: 1140px;
    margin-top: 50px;
    margin-bottom: 10px;
}